* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/dark_leather.png");
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Fondamento', serif;
  color: #fff;
  letter-spacing: .02em;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 32px;
}

p, a {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #aaa;
  line-height: 1.6em;
  margin: 0 0 20px 0;
  text-decoration: none;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
}

.nav {
  width: 100%;
  height: auto;
  top: 0;
  position: fixed;
  background: url(../img/black_scales.png);
  z-index: 10;
  border-bottom: 1px solid #fff;
  box-shadow: 0 10px 40px 0 #000;
}

.nav-container {
  width: 320px;
  margin: 0 auto;
  height: 100%;
}

.nav-container ul {
  display: flex;
  flex-direction: row-reverse;
  list-style-type: none;
  height: 100%;
  padding: 0 30px;
}

.nav-container ul li {
  text-align: center;
  vertical-align: middle;
  height: 80px;
  line-height: 80px;
  margin-left: 30px;
}

.container {
  width: 320px;
  margin: 0 auto;
  position: relative;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.column {
  width: 100%;
}

.column img {
  width: 100%;
  margin-bottom: 30px;
}

.sixty {
  width: 60%;
}

.fifty {
  width: 50%;
}

.forty {
  width: 40%;
}

.left-margin {
  margin-left: 40px;
}

.img-comp-container {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
}

.img-comp-back {
  box-shadow: 0 10px 40px 0 #000;
  position: absolute;
}

.img-comp-overlay {
  position: relative;
  overflow: hidden;
}

.img-comp-container img {
  display: block;
  width: 320px;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 50px;
  height: 50px;
  background-color: #039BE5;
  opacity: 0.25;
  border-radius: 50%;
  transition: opacity .3s;
}

.img-comp-slider:hover {
  opacity: .75;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than a peanut */
@media (min-width: 268px) {
  .nav {
    position: relative;
  }

  .container {
    margin-top: 40px;
  }

  .container, .nav-container, .img-comp-container img {
    width: 240px;
  }

  .nav-container ul {
    flex-direction: column-reverse;
    margin: 30px 0;
  }

  .nav-container ul li {
    margin-left: 0;
    height: 50px;
    line-height: 50px;
  }

  .row {
    flex-direction: column;
  }

  .forty, .fifty, .sixty {
    width: 100%;
  }

  .left-margin {
    margin-left: 0;
  }

  .bottom-margin {
    margin-bottom: 40px;
  }
}

/* Larger than mobile */
@media (min-width: 400px) {
  .container, .nav-container, .img-comp-container img {
    width: 360px;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .container, .nav-container, .img-comp-container img {
    width: 500px;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .nav {
    position: fixed;
  }

  .container, .nav-container, .img-comp-container img {
    width: 700px;
  }

  .container {
    margin-top: 100px;
  }

  .nav-container ul {
    flex-direction: row-reverse;
    margin: 0;
  }

  .nav-container ul li {
    margin-left: 40px;
    height: 80px;
    line-height: 80px;
  }

  .row {
    flex-direction: row;
  }

  .sixty {
    width: 60%;
  }

  .fifty {
    width: 50%;
  }

  .forty {
    width: 40%;
  }

  .left-margin {
    margin-left: 40px;
  }

  .bottom-margin {
    margin-bottom:; 0;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .container, .nav-container, .img-comp-container img {
    width: 920px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1360px) {  
  .container, .nav-container, .img-comp-container img {
    width: 1280px;
  }
}
